<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	
	<connectionStrings>
		 <add name="StartSmartDB" connectionString="Server=localhost\SQLEXPRESS;Database=SmartStartDelivery;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>

    <appSettings>
        <add key="Pagelimit" value="10" /> 
    </appSettings>
</configuration>
